---
layout: default
---
<div class="home">
	<div class="home-content">
  		{{ content }}
  		<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
	</div>

	<div class="github">
		<div class="git-avatar"><img src="{{site.url}}/images/github_card.png" height=width></div>
		<div align="center"><a href="https://github.com/chtld">Shangyuan Zhang(chtld)</a></div>
		<div class="git-info"><iframe src="https://ghbtns.com/github-btn.html?user=chtld&type=star&repo=Finite_Element_Method&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></div>
		<div class="git-info"><iframe src="https://ghbtns.com/github-btn.html?user=chtld&type=follow&count=true&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></div>	
	</div>

	<div class="zhihu">
		<div class="git-avatar"><img src="{{site.url}}/images/zhihu_card.jpg" height=width></div>
		<div align="center"><a href="https://www.zhihu.com/people/shen-yuan-77-42/activities">甚远</a></div>
		<div><a href="https://www.zhihu.com/people/shen-yuan-77-42/columns">专栏</a></div>
		<div><a href="https://www.zhihu.com/people/shen-yuan-77-42/posts">文章</a></div>
		
	</div>
</div>

